<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!-- Console appender -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %t %-5p %m%n"/>
        </Console>

        <!-- Allure appender -->
        <AllureAppender name="AllureAppender">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %t %-5p %m%n"/>
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </AllureAppender>
    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="AllureAppender"/>
        </Root>
    </Loggers>
</Configuration>
